<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chickFlyDieLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,215},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,338},{59,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,278},{55,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,278},{59,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,276},{53,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,459},{51,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,339},{49,60}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,459},{49,60}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieSmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,470},{14,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,72},{12,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{14,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{16,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,64},{14,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,470},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,14},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,146},{67,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,144},{65,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,213},{63,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,211},{63,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,144},{67,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,76},{69,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,76},{69,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,75},{69,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,75},{67,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,75},{67,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,390},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,395},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,395},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,333},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,277},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,271},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,215},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,209},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,147},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,402},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,147},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,338},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,276},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlySmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{22,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,488},{16,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,48},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,42},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,32},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,470},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,488},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,470},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,488},{16,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,488},{16,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,58},{14,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{14,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,26},{14,14}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,16},{14,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Anim-MH-Flying-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e4af5f1a1f61dad0b747d6254af0ccb:d76d2d2e07a72c57e367f4dceed5fc6f:22f06aff4734da6a363a558a13dec822$</string>
            <key>textureFileName</key>
            <string>Anim-MH-Flying-hd.png</string>
        </dict>
    </dict>
</plist>
