<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chickFlyDieLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,122},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,82},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,42},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyDieMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,136},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,136},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,200},{28,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,136},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,168},{28,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,168},{26,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,72},{24,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,40},{24,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chickFlyDieSmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,51},{7,8}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyDieSmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,42},{7,8}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyDieSmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,242},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyDieSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,242},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyDieSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,74},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{7,6}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyDieSmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,242},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyDieSmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,67},{5,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{5,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyDieSmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,60},{5,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{5,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlyLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,42},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,202},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,122},{32,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,82},{32,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,162},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge8.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,202},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyLarge9.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,162},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>chickFlyMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,104},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,104},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,104},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,203},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,170},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,137},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,104},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,72},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,72},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,72},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,40},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,40},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlyMed9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,40},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>chickFlySmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,242},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,242},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,242},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,242},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,242},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,32},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,22},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,12},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,242},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,242},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>chickFlySmall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,242},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Anim-MH-Flying.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e4af5f1a1f61dad0b747d6254af0ccb:d76d2d2e07a72c57e367f4dceed5fc6f:22f06aff4734da6a363a558a13dec822$</string>
            <key>textureFileName</key>
            <string>Anim-MH-Flying.png</string>
        </dict>
    </dict>
</plist>
