<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chickFlyDieLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,766},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,649},{117,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,534},{109,120}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{109,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,649},{115,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,889},{105,120}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,889},{99,120}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{99,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{97,120}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{97,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{95,120}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{95,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieSmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,232},{26,28}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,260},{24,26}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,152},{26,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,154},{30,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{30,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,282},{26,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,22}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,258},{22,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,180},{20,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,180},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{20,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{142,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,147},{132,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,147},{128,152}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,277},{126,152}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge12.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,286},{124,152}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,284},{134,152}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,144},{136,152}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,146},{138,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{140,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{140,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,144},{138,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,282},{134,152}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge9.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,418},{132,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,893},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,768},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,894},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed11.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,769},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,894},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,769},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,647},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,527},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,412},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,525},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,405},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,403},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,281},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlySmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,926},{44,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,178},{30,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{30,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,230},{26,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,230},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,204},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,124},{30,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{30,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,124},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,972},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,124},{32,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,152},{30,24}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{30,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,258},{28,24}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{28,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,202},{28,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,202},{26,28}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Anim-MH-Flying-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e4af5f1a1f61dad0b747d6254af0ccb:d76d2d2e07a72c57e367f4dceed5fc6f:22f06aff4734da6a363a558a13dec822$</string>
            <key>textureFileName</key>
            <string>Anim-MH-Flying-ipadhd.png</string>
        </dict>
    </dict>
</plist>
